<!-- step - 6 : once you click on any imge Show details of every individual listing-->

<% layout("/layouts/boilerplate") %>

<body>
    <h3 style="margin-left: 2rem"><%= listing.title%></h3>
    <div class="card col-6 show-card listing-card">
      <img
        src="<%= listing.image.url%>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-body">
        <p class="card-text">
          <%= listing.description%> <br />
          &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") :
          "Price Not Available" %> <br />
          <%= listing.location%> <br />
          <%= listing.country%>
        </p>
      </div>
    </div>
      <br/>
    <!--Step - 8: aim: edit update and delet any individual listing. -->
    <div class="btns mb-3">
      <a
        href="/listings/<%= listing.id %>/edit"
        class="btn btn-dark col-1 offset-2"
      >Edit</a>
      <form method="POST" action="/listings/<%= listing.id %>?_method=DELETE">
        <button class="btn btn-dark offset-4">Delete</button>
      </form>
    </div>
    <!-- end -->
</body>
</html>